<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="CSS/style.css"> -->
    <%- include('partials/head.ejs') %> 
    <title>Document</title>
</head>
<body>
    <div class="page-wrapper">
        
        <!-- header -->
        <header class="header">
            <!-- logo -->

            <!-- top navigation (filter) -->
            <nav class="filter-nav">
                <%- include('partials/top-nav.ejs') %> 
            </nav>

        </header>

        <!-- sidebar -->
        <div class="sidebar-wrapper">

            <!-- sidebar navigation -->
            <%- include('partials/sidebar-nav.ejs') %> 

        </div>

        <div class="content-wrapper">
        <div class="slider-container"></div>
            <!-- here goes content -->
            <%- include('partials/movie-grid-design.ejs')%>
        </div>




    </div>   <!-- page-wrapper ends -->


    <%- include('partials/scripts.ejs') %>
</body>
</html>